
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a asp-area="" asp-controller="DonateMedicines" asp-action="DashBoard"><p>DashBoard</p></a>
        </li>

        <li class="nav-item">
            <a asp-area="" asp-controller="DonateMedicines" asp-action="Index"><p>Donate History</p></a>
        </li>

        <li class="nav-item">
            <a asp-area="" asp-controller="DonateMedicines" asp-action="Create"><p>Donate Medicine</p></a>
        </li>


        <li class="nav-item">
            <a asp-area="" asp-controller="Feedbacks" asp-action="Create"><p>Give Feedback</p></a>
        </li>

    </ul>
</nav>