<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
            <a asp-area="Organizer" asp-controller="Register" asp-action="Registration"><p>Executive registration</p></a>
        </li>

        <li class="nav-item">
            <a asp-area="Organizer" asp-controller="OrganizerDashBoard" asp-action="DashBoard"><p>DashBoard</p></a>
        </li>

        <li class="nav-item">
            <a asp-area="Organizer" asp-controller="DonateMedicines" asp-action="Donations"><p>Donate medicine History</p></a>
        </li>

        <li class="nav-item">
            <a asp-area="Organizer" asp-controller="Feedbacks" asp-action="Feedbackss"><p>Give Feedback</p></a>
        </li>

        <li class="nav-item">
            <a asp-area="Organizer" asp-controller="Feedbacks" asp-action="Feedbackss"><p>Tuhin</p></a>
        </li>

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-white" style="color:red;">Logout</button>
            </form>
        </li>

    </ul>
</nav>