
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Donor/Views/Shared/_DonorLayout.cshtml";
}

<h1>Index</h1>
<div class="content-wrapper">
    <h2> <b>           Hi Donor This IS your DashBOard           </b></h2>
</div>

